* {
    margin: 0;
}

.top-bar {
    background-color: red;
    width: 100%
}
.top-bar-inner{
    max-width: 1170px;
    margin: 0 auto;
    background-color: #830000;

}
.mid-bar {
    background-color: blue;
    width: 100%
}
.mid-bar-inner {
    max-width: 1170px;
    margin: 0 auto;
    background-color: #000070;

}
.bottom-bar {
    background-color: green;
    width: 100%;
}
.bottom-bar-inner {
    max-width: 1170px;
    margin: 0 auto;
    background-color: #004300;
}




/*dropdown submenu*/

.dropdown-submenu {
    position: relative;
}

/*arrow in submenu*/
/*.dropdown-submenu > a.dropdown-item:after {*/
    /*font-family: FontAwesome;*/
    /*content: "\f054";*/
    /*float: right;*/
/*}*/

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: 0;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

/*dropdown submenu*/
/*bootstrap dropdown menu overrides*/
.nav-link {
    padding: 1.5rem 1rem;
}

.dropdown-menu {
    margin-top: 0;
}
.nav-pills .nav-link {
    border-radius: 0
}

/*bootstrap dropdown menu overrides*/
